// Definición de colores de la paleta
$intense-purple: #4B14B0;
$light-lavender-gray: #DAD7DF;
$grayish-lilac: #7F709C;
$soft-lilac: #947EBA;
$dark-purple: #470DAE;
$white: #FFFFFF;
$black: #000000;
$pale-lavender: #E1DAF5;
$pastel-lilac: #B39DDB;
$deep-purple: #6A1B9A;
$soft-celeste: #B2EBF2;
$melon: #FFAB91;